* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 100vh;
}

.input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    outline: none;
    margin: 0px 0px 10px 0px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  button {
    width: 100%;
    padding: 14px;
    align-items: center;
    border: 0;
    background-color: rgb(68, 67, 67);
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;  }

  button:active,
  button:hover {
    outline: 0;
  }

  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  button:active {
    transform: scale(0.9);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 100vh;
    background: -webkit-linear-gradient(90deg, #ee52ff,#0124b2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #ee52ff,#0124b2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    padding: 10px;
  }

  .todoApp {
    margin-top: 50px;
    width: 95%;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
    background-color: rgba(255, 192, 203, 0.5);    
  }

  .todoApp h2 {
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  ul li {
    list-style-type: none;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    font-size: 17px;
    padding: 12px 55px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }

  ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("../images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 10px;
  }
  
  ul li.checked {
    color: #555;
    text-decoration: line-through;
  }

  ul li.checked::before {
    background-image: url("../images/checked.png");
  }

  ul li span {
    position: absolute;
    right: 0;
    top: 11px;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-image: url('../images/trash.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px; 
  }

  @media (max-width: 660px) {
    .todoApp {
      padding: 20px;
      margin-bottom: 100px; 
    }

    .input {
      height: 50px;
      outline: none;
    }
  }